
/*Handles the website's personnels's name at the top of the page*/
h1 {
	
	color: white;
	background-color: #4aaaa5;
	height: 46px;
	width: 175px;
	text-align: center;
	margin-top: -10px;
	margin-left: 100px;
	padding-top: 24px;
	float: left;
}

 /*Adds a header to all of pages files that aquire them*/
.mainheader {

	color: #4aaaa5;
	text-align: left;
	font-size: bold;
}


.class1 {
	float: right;
}

/* Handles the "connect with me" links */
/* BEGIN navigation link section*/
.navigation {

	text-align: center;
	margin: 0;
	float: right;
	margin-top: 30px;
	margin-right: 150px;
	position: relative;
	color: green;
	bottom: 10px;
}

a:link {
    color: gray;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: gray;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #6699ff;
    background-color: transparent;
    text-decoration: none;
}

a:active {
    color: red;
    background-color: transparent;
    text-decoration: none;
}
/* END link section*/

/*Handles formatting for the "About Me" page*/
.aboutMe {

	border: thin;
	border-color: gray;
	position: relative;
	left: 7%;
 	top: 100px;
	height: 50%;
	max-width: 650px;
	background-color: white;
	float: left;
	z-index: -1;
	position: 100px 100px;
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 20px;
}

/*Handles formatting for the "Portfolio" page*/
.portfolio {

	border: thin;
	border-color: gray;
	position: relative;
	left: 7%;
 	top: 100px;
	height: 50%;
	max-width: 650px;
	background-color: white;
	float: left;
	z-index: -1;
	position: 100px 100px;
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 20px;

}

/*Handles formatting for the "Contact" page*/
.contact {

	border: thin;
	border-color: gray;
	position: relative;
	left: 7%;
 	top: 100px;
	height: 50%;
	max-width: 650px;
	background-color: white;
	float: left;
	z-index: -1;
	position: 100px 100px;
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 20px;

}

/*Handles formatting for the, "Portfolio" page*/
.connectme {

	position: relative;
	text-align: center;
	height: 50%;
	max-width: 270px;
	top: 100px;
	float: left;
	left:10%;
	color: #4aaaa5;
	background-color: white;
	padding-left: 20px;
	padding-right: 20px;
	margin: auto;
	display: inline-block;


}

/*Handles formatting for the linked images*/
.linkedimage {

	text-align: center
	width: 50px;
	height: 50px;
	padding: 0 10px 20px 0;

}

/*Handles formatting for the, "Profile" image*/
.profileimage {

	width: 20%;
	height: 20%;
	padding: 0px 20px 20px 0;
	float: left;


}

/*Handles formatting for the, "Portfolio" image*/
.portfolioimage {

	width: 26%;
	height: 26%;
	padding: 0px 20px 20px 0;
	float: center;
	position: relative;


}

	/*Handles formatting for the, "header of the page*/
.header {
	position: absolute;
	top: 0;
	width: 100%;
	background-color: white;
	border-color: #cccccc;
	border-bottom: 1px solid;
	height: 60px;
	left: 0;

	
}

/*Handles formatting for the, "footer" part of the page*/
.footer {
	position: absolute;
	bottom: 0; 
	left: 0px;
	text-align: center;
	width: 100%;
	background-color: #666666;
	color: white;
	font-family: 'Helvetica Neue';
	border-top: 6px solid;
	border-top-color: #4aaaa5;
}

.menubar {

	position: fixed;
}

/*Handles formatting for the, "body" of the page*/
body {

	background-image: url("../images/concrete_seamless.png");
	display: :flex;
	flex-direction: column;
}

/* Begin all form CSS*/
/*Handles formatting for the, "body" of the page*/
.textinput {

	width: 100%;
	color: gray;

}

.messagebox {

	width: 100%;
	height: 150px;
}

.paragraph {

	position: relative;
	white-space: normal; 
}

.submitbutton {

	height: 35px;
	width: 90px;
	margin-top: 2%;
	margin-bottom: 5%;
	background-color: #4aaaa5;
	border-style: solid;
	border-color: #4aaaa5;
	color: white;

}*/ 

/* ALL @MEDIA Code to handle responsive below*/

@media only screen and (max-width: 980px) {
    .aboutMe {
        background-color: lightblue;
        max-width: 100%;
    }

       .connectme {
        background-color: lightblue;
        max-width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    .aboutMe {
        background-color: lightgreen;
        max-width: 100%;
    }

	.connectme {
        background-color: lightgreen;
        max-width: 100%;
        

}


@media only screen and (max-width: 640px) {
    .aboutMe {
        background-color: lightpink;
        max-width: 100%;
    }

 .connectme {
        background-color: lightpink;
        max-width: 100%;
    }


}