h1 {
	
	color: white;
	background-color: #4aaaa5;
	height: 46px;
	width: 175px;
	text-align: center;
	margin-top: -10px;
	margin-left: 100px;
	padding-top: 24px;
	float: left;
}

.aboutHeader {

	color: #4aaaa5;
	text-align: left;
}

.class1 {
	float: right;
}

/* BEGIN link section*/
.navigation {

	text-align: center;
	margin: 0;
	float: right;
	margin-top: 30px;
	margin-right: 150px;
	position: relative;
	color: green;
	bottom: 10px;
}

a:link {
    color: gray;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: gray;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: red;
    background-color: transparent;
    text-decoration: none;
}
a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: none;
}
/* END link section*/

.aboutMe {

	border: thin;
	border-color: gray;
	position: relative;
	left: 7%;
 	top: 150px;
	height: 50%;
	max-width: 650px;
	background-color: white;
	float: left;
	z-index: -1;
	position: 100px 100px;
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 20px;


}


.connectme {

	position: relative;
	text-align: center;
	height: 50%;
	max-width: 270px;
	top: 150px;
	float: left;
	left:10%;
	color: #4aaaa5;
	background-color: white;
	padding-left: 20px;
	padding-right: 20px;
	margin: auto;
	display: inline-block;


}

.linkedimage {

	text-align: center
	width: 50px;
	height: 50px;
	padding: 0 10px 20px 0;

}

.profileimage {

	width: 20%;
	height: 20%;
	padding: 0px 20px 20px 0;
	float: left;


}

.header {
	position: absolute;
	top: 0;
	width: 100%;
	background-color: white;
	border-color: #cccccc;
	border-bottom: 1px solid;
	height: 60px;
	left: 0;

	
}

.footer {
	position: absolute;
	bottom: 0;
	text-align: center;
	width: 100%;
	background-color: #666666;
	color: white;
	font-family: 'Helvetica Neue';
	border-top: 6px solid;
	border-top-color: #4aaaa5;
}

.menubar {

	position: fixed;
}

body {

	background-image: url("../images/concrete_seamless.png");
}

.paragraph {

	position: relative;
	white-space: normal; 
}
